<footer class="footer text-center">

    <div>
      <a href="#">Kontakt</a>
      <a href="#">Schenken</a>
      <a href="#">Mach mit</a>
      <a href="#">Blog</a>
      <a href="https://www.facebook.com/dielernwerkstatt/" class="fab fa-facebook"></a>
    </div>

  </footer>