<footer class="footer">
  <div class="container-fluid text-left">
    <div class="row mt-3">
      <div class="col-sm-3 text-center">
        <ul class="list-unstyled">
          <li><a href="/contact"><strong>Kontakt</strong></a></li>
          <li><a href="/support"><strong>Support</strong></a></li>
          <li><a href="/blog"><strong>Blog</strong></a></li>
        </ul>
      </div>

      <div class="col-sm-3 text-center">
        <ul class="list-unstyled">
          <li><i class="fas fa-home "><span> Karl-Kunger-Str. 55 - 12435 Berlin</span></i></li>
          <li> <i class="far fa-envelope "><a href="mailto:info@die-lernwerkstatt.de"> info@die-lernwerkstatt.de</a></i>
          </li>
          <li><i class="fas fa-phone "><span> +49 176 2087840154</span></i></li>
          <li></li>
        </ul>
      </div>

      <div class="col-sm-3 text-center">
        <a href="https://www.facebook.com/dielernwerkstatt/" class="fab fa-facebook"></a>
        <a href="https://www.instagram.com/die_lernwerkstatt" class="fab fa-instagram"></a>
      </div>
    </div>
  </div>
</footer>