<footer class="footer">

  <div class="footer-row-1">
    <a href="/contact">Kontakt</a>
    <a href="/support">Support</a>
    <a href="/blog">Blog</a>
    <a href="https://www.facebook.com/dielernwerkstatt/" class="fab fa-facebook"></a>
    <a href="https://www.instagram.com/die_lernwerkstatt" class="fab fa-instagram"></a>
    <div>
      <i class="far fa-envelope "><a href="mailto:info@die-lernwerkstatt.de"> - Mail</a></i>
      <i class="fas fa-phone "><span> +49 176 2087840154</span></i>
    </div>
  </div>
</footer>