<footer class="footer">

  <div class="footer-row-1">
    <a href="/contact">Kontakt</a>
    <a href="/support">Support</a>
    <a href="/blog">Blog</a>
    <a href="https://www.facebook.com/dielernwerkstatt/" class="fab fa-facebook"></a>
  </div>
</footer>