<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Handlebars</title>
    </head>

    <body>
        {{> header}}

        {{{body}}}

        {{> footer}}
    </body>
</html>