  <div class="container"> 
    <!-- Main -->
  <div class="container"></div>
    <main>
    <h2 class="headline">Das Team</h2>
    <div class="column">
      <div class="card">
        <div class="container">
          <img style="height: 225px; width: 225px; display: block;" class="imageh"
          src="http://localhost:3000/team/ale.jpg" alt="Alejandro"> 
          <div class="middle">
            <div class="text">Alejandro</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <img src="http://localhost:3000/team/ale.jpg" alt="Alejandro" class="imageh" 
      style="height: 225px; width: 225px; display: block;">
      <div class="middle">
          <div class="text">Alejandro</div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <img style="height: 225px; width: 225px; display: block;" 
          src="http://localhost:3000/team/andre.jpg" alt="Alejandro"> 
          <h4>André</h4>
        </div>
      </div>
    </main>
  </div>  
    <!-- ./Main -->
  
    
  </div>