<div class="container">
  <main>
    <div class="text-center">
      <h2 class="headline">Das Team</h2>
    </div>
    <br>
    <div class="row">
      <hspace="20px">
        {{#each this}}
        <div class="hvrbox">
          <img src={{img}} alt={{name}} class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">{{name}}</div>
          </div>
        </div>
        {{/each}}
    </div>
    </hspace>
  </main>
</div>