<div class="container">
  <main>
    <div class="text-center">
      <h2 class="headline">Das Team</h2>
    </div>
    <br>
    <div class="row">
      <hspace="20px">
        <div class="hvrbox">
          <img src="http://localhost:3000/team/andre.jpg" alt="André" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">André Brötz</div>
          </div>
        </div>
        <div class="hvrbox">
          <img src="http://localhost:3000/team/bianca.jpg" alt="Bianca" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Bianca Geburek</div>
          </div>
        </div>
        <div class="hvrbox">
          <img src="http://localhost:3000/team/basel.jpg" alt="Basel" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Basel Nasri</div>
          </div>
        </div>
        <div class="hvrbox">
          <img src="http://localhost:3000/team/michaela.jpg" alt="Michaela" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Michaela Schmidt</div>
          </div>
        </div>
        <div class="hvrbox">
          <img src="http://localhost:3000/team/kevin.jpg" alt="Kevin" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Kevin Machura</div>
          </div>
        </div>
        <div class="hvrbox">
          <img src="http://localhost:3000/team/ursula.jpg" alt="Ursula" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Ursula Seeger</div>
          </div>
        </div>
        </hspace>
    </div>
    <br>
    <div class="row">
      <hspace="20px">
        <div class="hvrbox">
          <img src="http://localhost:3000/team/ale.jpg" alt="Alejandro" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Alejandro Reyes</div>
          </div>
        </div>
        <div class="hvrbox">
          <img src="http://localhost:3000/team/miriam.jpg" alt="Miriam" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Miriam Haerer</div>
          </div>
        </div>
        <div class="hvrbox">
          <img src="http://localhost:3000/team/ihab.jpg" alt="Ihab" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Ihab Al-Sabbah</div>
          </div>
        </div>
        <div class="hvrbox">
          <img src="http://localhost:3000/team/olzhas.jpg" alt="Olzhas" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Olzhas Askar</div>
          </div>
        </div>
        <div class="hvrbox">
          <img src="http://localhost:3000/team/julia.jpg" alt="Julia" class="hvrbox-layer_bottom" style="height: 150px; width: 150px;">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Julia Brötz</div>
          </div>
        </div>
    </div>
    </hspace>
  </main>
</div>