{{> main/title title="Menschen" subtitle="Wir sind Die Lernwerkstatt"}}
<div class="container-fluid text-center">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="col-sm-10" id="team">
      {{#each team}}
      {{> about/member this}}
      {{/each}}
    </div>
  </div>
</div>
