<div class="container">
  <div class="mt-5 text-center">
    <h1>Vor Ort in Alt-Treptow</h1>
    <address>
      Die Lernwerkstatt - Lernen & lernen lassen e.V. <br />
      <a href="mailto:info@die-lernwerkstatt.de">info@die-lernwerkstatt.de</a> <br />
      Karl-Kunger-Str. 55 <br />
      12435 Berlin <br />
      +49 176 87840154
    </address>
    <br />
    <h6>Anreise mit Bus:</h6>
    <p>
      Von S-Bahn Treptower Park oder von U-Bahn Hermannplatz den Bus 194
      nehmen bis Bouchéstraße
    </p>
    <img src="img/contact/contact-map.png" alt="map of lernwerkstatt" style="width: 42%" />
  </div>
  <form>
    <div class="form-group">
      <label for="name"></label>
      <input type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="email"></label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-Mail">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="nachricht"></label>
      <textarea type="text" class="form-control" id="nachricht" placeholder="Nachricht"></textarea>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1"><span>Hiermit bestätige ich meine Übereinstimmung mit <a href="#">Terms
            &amp; Conditions</a> und <a href="#">Privacy Policy</a>.</span></label>
    </div>
    <button type="submit" class="btn btn-primary">Abschicken</button>
  </form>
</div>
