<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin="" />

<div class="container">
  <div class="mt-5 text-center">
    <h1>Vor Ort in Alt-Treptow</h1>
    <address>
      Die Lernwerkstatt - Lernen & lernen lassen e.V. <br>
      <a href="mailto:info@die-lernwerkstatt.de">info@die-lernwerkstatt.de</a> <br>
      Karl-Kunger-Str. 55 <br>
      12435 Berlin <br>
      +49 176 87840154
    </address>
    <br>
    <h6>Anreise mit Bus:</h6>
    <p>
      Von S-Bahn Treptower Park oder von U-Bahn Hermannplatz den Bus 194
      nehmen bis Bouchéstraße
    </p>
    <div class="mt-2 mb-4" id="mapid"></div>
    <img src="img/contact/contact-map.png" alt="handgezeichnete Anfahrtsskizze zur Die Lernwerkstatt" style="width: 42%" />
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>
<script src="js/map.js"></script>
