<div class="content">
  <div class="container">
    <div class="mt-5 text-center">
      <h1>Und vor Ort in Alt-Treptow.</h1>
      <div>
        <p>
          Die Lernwerkstatt - Lernen & lernen lassen e.V. <br />
          Karl-Kunger-Str. 55 <br />
          12435 Berlin <br />
          +49 176 87840154
        </p>
      </div>
      <br />
      <h6>Anreise mit Bus:</h6>
      <p>
        Von S-Bahn Treptower Park oder von U-Bahn Hermannplatz den Bus 194
        nehmen bis Bouchéstraße
      </p>
      <img src="img/contact-map.png" alt="map of lernwerkstatt" style="width: 42%" />
    </div>
  </div>
</div>