<div class="container-fluid content pl-0 pr-0 error-page">
    <img class="img-fluid" src="ales-krivec-3078-unsplash.jpg" alt="foggy forest">
    <h2 class="centered">Error 404 page not found</h2>
</div>
</div>