<div class="jumbotron px-1 py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 homeheader text-center">
        <h1 class="h3">Die Lernwerkstatt-Berlin/Treptow</h1>
        <p>
          Die Lernwerkstatt ist ein altersübergreifender Lernort für Lernende
          in, außerhalb oder neben der Schule.
        </p>
        <img src="img/logo.png" class="img-fluid rounded-circle" alt="Die Lernwerkstatt Logo" />
      </div>
      <div class="col-sm-4 calendar-equal">
        <div class="card bg-primary text-white card-calendar">
          <div class="card-header">
            <h2 class="text-center">Kalender</h2>
          </div>
          <ul class="list-group list-group-flush">
            {{#each calendar}}
            {{> home/event this}}
            {{/each}}
          </ul>
        </div>
        <ul class="list-group list-group-flush">
          {{#each calendar}}
          {{> home/event this}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck text-center">
    {{#each card}}
    {{> home/card this}}
    {{/each}}
  </div>
</div>
