<div class="content">
  <div class="container">
    <div class="row row-header equal">
      <div class="col-sm-8 homeheader">
        <h1>Die Lernwerkstatt-Berlin/Treptow</h1>
        <p>Die Lernwerkstatt ist ein altersübergreifender Lernort für Lernende in, außerhalb oder neben der Schule.</p>
        <img src="https://res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_200,w_200,f_auto,g_faces:auto,q_auto/v1/253787/6b3c1ba6-333a-4dfb-80b1-686bd4b9e0db_s4dlam.png"
          class="img-fluid rounded-circle" alt="Lernwerkstatt Logo">
      </div>
      <div class="col-sm-4 cal-equal">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h2 class="text-center">Our Calendar</h2>
            {{#each this.calendar}}
            <h4>{{name}}</h4>
            <div>
              <span>Date: </span>
              {{date}}
              <span>Time: </span>
              <span>{{time}}</span>
              <br>
              <a href="{{eventlink}}" target="_blank" style="color: white">Event</a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="card-deck">
        <div class="card border-10">
          <div class="card-body">
            <card-title>
              <h3>Aktuelles</h3>
            </card-title>
            <div class="card-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ea consequatur quibusdam sint
                laboriosam voluptates.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <card-title>
              <h3>Kommende Termine</h3>
            </card-title>
            <div class="card-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ea consequatur quibusdam sint
                laboriosam voluptates.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <card-title>
              <h3>Mitgestaltung</h3>
            </card-title>
            <div class="card-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ea consequatur quibusdam sint
                laboriosam voluptates.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>