<div class="text-center">
    <div class="container">
        <div class="col-sm-8 offset-2">
            <img src="/img/support_logo.png" alt="moebius band" class="img-fluid w-50">
            <hr>
            <h3><strong>Du möchtest uns unterstützen?</strong></h3>
            <p>Die Lernwerkstatt ist ein eingetragener gemeinnütziger Verein. <a href="https://uploads.strikinglycdn.com/files/ed70dc3f-65fb-4f86-812e-2c124c3bfa7d/Satzung_final 2017.pdf">Hier</a>
                findest du unsere <strong>Satzung</strong>. Die Ziele und Zwecke des Vereins sind darin zu finden. Das
                Projekt
                lebt davon, dass du dich beteiligst. Wenn du uns finanziell unterstützen möchtest und uns dabei helfen,
                das
                Projekt langfristig abzusichern, werde Vereinsmitglied! Andere Möglichkeiten der Unterstützung findest
                du
                weiter unten.</p>
            <br>
            <p>Für die Deckung unserer <strong>Kosten</strong> (für den Raum, die Materialien, die
                Lernbegleiter, Energie und Versicherung) suchen wir Unterstützung in Form von monatlichen
                Mitgliedsbeiträgen -
                ab 5 Euro frei wählbar. Unsere Fixkosten betragen <strong>560</strong> <strong>Euro pro Monat</strong>.
                Mit
                genug Mitgliedern/Beiträgen können wir unsere finanzielle Unabhängigkeit sichern. Unser <strong>Möbiusband</strong>
                oben zeigt an wie nahe wir diesem Ziel kommen. Bisher sind wir bei 450 Euro pro Monat durch
                Mitgliedsbeiträge.
                Tendenz steigend! Mach mit und werde Teil unserer Lerngemeinschaft!<br><br>Mitglied werden in 3
                Schritten:</p>
            <br>
            <p>1. <a href="https://uploads.strikinglycdn.com/files/572aa3bd-f9c9-48f1-a06c-71851c194508/Antrag auf Mitgliedschaft.pdf">Hier</a>
                findest du unseren <strong>Mitgliedsantrag als PDF</strong>. Einfach herunterladen.</p>
            <br>
            <p>2. Den Antrag ausfüllen (am Computer oder ausgedruckt per Hand).</p>
            <br>
            <p>3. Schick uns den Antrag per Post (Karl-Kunger Str. 55, 12435 Berlin), eingescannt per
                Mail oder besser noch, wirf ihn in unseren Briefkasten und schau gleich mal bei uns rein.</p>
            <br>
            <p>Wir sind ein gemeinnütziger Verein, daher sind alle Spenden und Mitgliedsbeiträge
                <strong>steuerlich absetzbar</strong>! Bis zu 200 Euro reicht ein vereinfachter Nachweis. Ab 200 Euro
                senden
                wir dir gerne eine Zuwendungsbestätigung zu!</p>
            <br>
            <p>Möchtest du uns lieber <strong>einmalig Geld schenken</strong>? Hier ist unser
                Vereinskonto:</p>
            <p><strong>Die Lernwerkstatt - lernen &amp; lernen lassen e.V.</strong></p>
            <p><strong>IBAN: DE69 4306 0967 1175 1344 00</strong></p>
            <p><strong>BIC: GENODEM1GLS</strong></p>
            <br><br>
            <h4><a href="https://www.addsocial.de/">AddSocial</a> - unterstütze uns bei deinem Online-Einkauf</h4>
            <div>
                <p>Mit <a href="https://tools.addsocial.de/lernwerkstatt/download/">AddSocial</a> haben wir einen
                    professionellen Partner im Fundraising gefunden: mit nur wenigen Klicks kannst du das Browser-AddOn
                    aktivieren und uns bei deinem Online-Einkauf unterstützen. Es kostet dich keinen Cent!</p>
                <p>&nbsp;</p>
                <p>Wie geht's? Erst das <a href="https://tools.addsocial.de/lernwerkstatt/download/">AddOn</a><a target="_blank"
                        href="https://tools.addsocial.de/lernwerkstatt/download/"> herunterladen</a>. Nun wird beim
                    Aufruf
                    eines Online-Shops abgefragt, ob du uns mit diesem Einkauf helfen möchtest - mit einem Klick und
                    ohne
                    weiteren Aufwand oder Kosten für dich erhalten wir dann eine kleine Provision aus deinem Einkauf.</p>
                <p>&nbsp;</p>
                <p>Die wahrscheinlich einfachste Methode, uns zu unterstützen, auch aus der Ferne.</p>
            </div>
        </div>
    </div>
</div>