<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Die Lernwerkstatt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/learn">Lernen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses">Kurse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workshops">Workshops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <iframe src="https://duckduckgo.com/search.html?width=270&prefill=Search DuckDuckGo&focus=yes&kn=1" style="overflow:hidden;margin:0;padding:0;width:328px;height:40px;"
          frameborder="0"></iframe>
      </form>
  </nav>
</header>
