html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  margin: 70px auto;
}

.footer {
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: lightseagreen;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer-row-1 {
  padding-bottom: 10px;
}

.copyright {
  background-color: #1b9891;
}

.fab {
  padding-top: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.homeheader {
  padding: 30px 30px 30px 30px;
  background: #5c6670;
  color: floralwhite;
  height: 50vh;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.hannes {
  width: 30%;
}

.fa-envelope {
  color: white;
}

.fa-phone {
  color: white;
}

.error-page {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.easy {
  transition: all 1s ease;
}

.easy:hover {
  transform: scale(1.1);
  border: 1px solid gray;
}

.calendar-equal {
  height: 50vh;
  overflow: auto;
}

.team-box {
  display: inline-block;
  margin-right: 25px;
  padding-bottom: 20px;
}

.team-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}
