html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

main {
  flex: 1;
}

.calendar-list {
  max-height: 300px;
}

.footer {
  bottom: 0px;
  width: 100%;
  background-color: lightseagreen;
}

.footer a {
  color: white;
  text-decoration: none;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.error-page {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.easy {
  transition: all 0.3s ease;
}

.easy:hover {
  transform: scale(1.1);
  border: 1px solid gray;
}

#mapid {
  margin: auto;
  width: 60%;
  height: 320px;
}

.img-blog {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}

.img-singlepost {
   width: 23rem;
   height: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}
