{{#if img}}
<div class="col-sm-4 align-self-center">
  <a href="{{link}}" aria-label="{{name}}" target="_blank" rel="noopener">
    <img src="{{img}}" class="partner-img" alt="{{name}}" />
  </a>
</div>
{{/if}}
