<div class="d-flex justify-content-center">
  <article class="col mt-3 mb-5 mx-3">
    <h2 style="overflow-wrap: normal">{{ title }}</h2>
    <p><small>{{ author }}, {{ date }}</small></p>
    <iframe class="mw-100" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </article>
</div>
