{{#section "head"}}
<title>{{{__ "agsb_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

{{#section "title"}}
<div class="container my-4">
  <div class="row">
    <div class="col border-bottom">
      <h1 class="h1">{{{__ "agsb_title"}}}</h1>
    </div>
  </div>
</div>
{{/section}}

<div class="container">
  <div class="row pb-4">
    <div class="col">
      <section>Was bereits seit Jahren passiert, ist seit März 2020 durch die Pandemie verstärkt sichtbar: Lernen findet überall statt. Jeder Mensch ist ein Individuum und lernt anders. Für viele junge Menschen ist die Schule in der jetzigen Form eine gute Lösung. Jedoch verstärkt das bestehende Schulsystem auch Frustration und Krankheit für immer mehr junge Menschen und verhindert damit ihre Entfaltung.</section>
      <section>Wir fordern daher, dass alternative Bildungsformen (Selbstbestimmte Bildung) parallel zum jetzigen Schulsystem offiziell anerkannt werden.</section>
      <h3>Unsere Argumente:</h3>
      <ol>
        <li>Viele Familien erleben, dass ihre Kinder außerhalb des Schulgebäudes in anderen Lernumgebungen, z.B. zu Hause, in Bibliotheken, Jugendzentren, Vereinen oder mit Hilfe von digitalen Lernplattformen mit mehr Freude und inspirierter lernen.</li>
        <li>Es gibt junge Menschen im Alter ab 6 Jahren, die ihre Bildung - mit Unterstützung der Eltern, anderen Angehörigen oder Mentoren - selbst bestimmen. Wir sehen, dass Selbstbestimmte Bildung (umgangssprachlich freies Lernen genannt) funktioniert, wenn der Druck ‘zur Schule gehen zu müssen’ nicht mehr vorhanden ist. Kinder, deren Eltern die Selbstbestimmte Bildung für sie ermöglichen möchten, kommen aus stabilen sozialen Verhältnissen.</li>
        <li>Um den im Schulgesetz genannten “Auftrag der Schule” weiter gerecht zu werden, regen wir eine Öffnung für diesen Bildungsweg an, indem z.B. das Jugendamt in Zusammenarbeit mit den Schulträgern die Kinder und Familien wohlwollend begleitet, ohne das Bußgelder und Zwangsmaßnahmen verhängt oder das junge Menschen pathologisiert werden.</li>
        <li>Das Recht der gewaltfreien Erziehung (§ 1631 (2) BGB) ist unbedingt zu achten und darf nicht auf Kosten von Anwesenheitspflichten ausgehebelt werden. Der Wille des jungen Menschen ist hierbei wertzuschätzen und anzuerkennen. Übergriffe gegenüber jungen Menschen dürfen nicht autorisiert werden.</li>
        <li>Laut Senatsverwaltung für Bildung, Jugend und Familiefehlen in Berlin 60-80 Schulen. Es mangelt an Gebäuden und an Personal. Durch Anerkennung von Bildungsvielfalt (Selbstbestimmte Bildung) werden enorme zukunftsweisende Möglichkeiten geschaffen. Wenn Eltern die Bildung ihrer Kinder offiziell begleiten können, hilft dies auch dem Schul- und Bildungssystem.</li>
      </ol>
      <section>Kontakt:AG Selbstbestimmte Bildung Rückfragen an: Agneta Poetzsch, Tel.: 01733929776 - Bianca Koch, Tel.: 01741729646E-Mail: agsb@die-lernwerkstatt.orgc/o Die Lernwerkstatt - Karl-Kunger-Str. 55, 12435 Berlin</section>
    </div>
  </div>
</div>
