{{> main/title title="Blog"}}
<div class="container">
  <div class="row">
    {{#if blogs}}
    {{#each blogs}}
    {{> blogs/posts}}
    {{/each}}
    {{else}}
    {{> blogs/single this}}
    {{/if}}
  </div>
</div>
