{{#section "head"}}
<title>{{{__ "blogs_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

{{#section "title"}}
<div class="container my-4">
  <div class="row">
    <div class="col border-bottom">
      <h1 class="h1">{{{__ "blogs_title"}}}</h1>
    </div>
  </div>
</div>
{{/section}}

<div class="container">
  <div class="row">
    {{#if blogs}}
    {{#each blogs}}
    {{> blogs/posts}}
    {{/each}}
    {{else}}
    {{> blogs/single this}}
    {{/if}}
  </div>
</div>
