{{#section "head"}}
<title>{{{__ "calendar_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

<iframe width="100%" height="100%" frameborder="0" src="https://teamup.com/ksb15466a44b299f51"
  style="overflow: hidden"></iframe>
