{{#section "head"}}
<title>{{{__ "calendar_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

<div class="embed-responsive embed-responsive-4by3 h-100">
  <iframe class="embed-responsive-item" src="https://teamup.com/ksb15466a44b299f51"></iframe>
</div>
