{{#section "head"}}
<title>{{{__ "election_info_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

{{#section "title"}}
<div class="container my-4">
  <div class="row">
    <div class="col border-bottom">
      <h1 class="h1">{{{__ "election_info_title"}}}</h1>
    </div>
  </div>
</div>
{{/section}}

<div class="container">
  <div class="row pb-4">
    <div class="col">
      <p class="font-weight-bold">Die AG Selbstbestimmte Bildung hat 6 Wahlprüfstein-Fragen an alle 34 Parteien, die am 26. September 2021 zur Wahl in Berlin antreten geschickt.</p>
      <p class="font-weight-bold">Von den im Abgeordnetenhaus vertretenen Parteien haben die AfD, die FDP, die Grünen und die Linke geantwortet.</p>
      <p>Bei allen ist Selbstbestimmte Bildung (als Alternative zur Beschulung) nicht im Parteiprogramm enthalten und keine dieser Parteien möchte, dass selbstbestimmtes Lernen als anerkannter Bildungsweg alternativ zur Beschulung ermöglicht wird. Auch auf die Frage, ob sie dafür sind, die in Deutschland seit 1938 existierende Schulgebäude-Anwesenheitspflicht zu beenden und Verstöße dagegen nicht mehr zu sanktionieren, haben sie überwiegend verneint.</p>
      <p>Nur bei den Fragen, ob für alternative Bildungsformen Haushaltsmittel zur Verfügung gestellt werden sollen und ob sie die Mitbestimmung auch der jungen Menschen, die schulfrei lernen, unterstützen, gab es Zustimmung von der AfD und teilweise von der FDP.</p>
      <p>Von mehreren Kleinparteien gab es überwiegend bzw. volle Zustimmung zu unseren Fragen. (siehe Tabelle)</p>
      <p class="font-weight-bold">Hier die Fragen an die Parteien, darunter die Auswertung und weiter unten die ausführlichen Antworten der Parteien.</p>

      <p>Frage 1:<br>
      Ist Selbstbestimmte Bildung (als Alternative zur Beschulung) bereits in Ihrem Parteiprogramm enthalten?
      [ja/nein]</p>

      <p>Frage 2:<br>
      Setzen Sie sich dafür ein, dass selbstbestimmtes Lernen als anerkannter Bildungsweg alternativ zur
      Beschulung ermöglicht wird? [ja/nein]</p>

      <p>Frage 3:<br>
      Wäre Ihre Partei bereit, dass auch für alternative Bildungsformen Haushaltsmittel zur Verfügung gestellt
      werden? [ja/nein]</p>

      <p>Frage 4:<br>
      Die Schulgebäude-Anwesenheitspflicht (Schulzwang) wurde in Deutschland 1938 eingeführt. Finden Sie,
      dass es nun an der Zeit ist, diese Regelung zu beenden und Verstöße dagegen nicht mehr zu
      sanktionieren? [ja/nein]</p>

      <p>Frage 5:<br>
      Bei demokratischen Schulen sowie freien aktiven Schulen sind selbstbestimmtes Lernen, informelles
      Lernen und die Mitbestimmung der jungen Menschen ganz zentral. Unterstützen Sie dieses
      Bildungsmodell auch für junge Menschen, die schulfrei lernen? [ja/nein]</p>

      <p>Frage 6:<br>
      Was möchten Sie bis zum Ende der nächsten Legislaturperiode 2026 für die Bildung der jungen
      Menschen in Berlin verändern, wenn Ihre Partei in Regierungsverantwortung gewählt wird?</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pb-4">
    <div class="col mb-4">
      Skala:
      <div class="table-responsive">
        <table class="table text-dark">
          <thead>
            <tr>
              <th class="bg-success" scope="col">Ja</th>
              <th class="bg-info" scope="col">Eher ja</th>
              <th scope="col">Weder ja noch nein</th>
              <th class="bg-warning" scope="col">Eher nein</th>
              <th class="bg-danger" scope="col">Nein</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="col mb-4">
      <div class="table-responsive">
        <table class="table text-dark">
          <thead>
            <tr>
              <th scope="col">Parteien</th>
              <th scope="col">Frage 1: (imParteiprogram?)</th>
              <th scope="col">Frage 2: (als Bildungsweg anerkennen?)</th>
              <th scope="col">Frage 3: (Haushaltsmittel für Selbstbestimmte Bildung?)</th>
              <th scope="col">Frage 4: (Schulzwang beenden?)</th>
              <th scope="col">Frage 5: (Mitbestimmung der jungen Menschen/ schulfrei)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Bündnis 90/Die Grünen</th>
              <td class="bg-danger">Nein</td>
              <td class="bg-danger">Nein</td>
              <td class="bg-warning">Eher nein</td>
              <td class="bg-danger">Nein</td>
              <td class="bg-danger">Nein</td>
            </tr>
            <tr>
              <th scope="row">Freie Demokratische Partei</th>
              <td class="bg-danger">Nein</td>
              <td class="bg-danger">Nein</td>
              <td>Weder ja noch nein</td>
              <td class="bg-danger">Nein</td>
              <td>Weder ja noch nein</td>
            </tr>
            <tr>
              <th scope="row">Die Linke</th>
              <td class="bg-danger">Nein</td>
              <td class="bg-danger">Nein</td>
              <td class="bg-warning">Eher nein</td>
              <td class="bg-danger">Nein</td>
              <td class="bg-danger">Nein</td>
            </tr>
            <tr>
              <th scope="row">Alternative für Deutschland</th>
              <td class="bg-danger">Nein</td>
              <td class="bg-danger">Nein</td>
              <td class="bg-success">Ja</td>
              <td class="bg-warning">Eher nein</td>
              <td class="bg-info">Eher ja</td>
            </tr>
            <tr>
              <th scope="row">Ökologisch-Demokratische Partei</th>
              <td class="bg-danger">Nein</td>
              <td class="bg-danger">Nein</td>
              <td class="bg-info">Eher ja</td>
              <td>Weder ja noch nein</td>
              <td>Weder ja noch nein</td>
            </tr>
            <tr>
              <th scope="row">Partei Mensch Umwelt Tierschutz</th>
              <td>Weder ja noch nein</td>
              <td>Weder ja noch nein</td>
              <td>Weder ja noch nein</td>
              <td>Weder ja noch nein</td>
              <td>Weder ja noch nein</td>
            </tr>
            <tr>
              <th scope="row">Menschliche Welt für das Wohl und Glücklich-Sein aller</th>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
            </tr>
            <tr>
              <th scope="row">Deutsche Konservative</th>
              <td class="bg-danger">Nein</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
            </tr>
            <tr>
              <th scope="row">Partei für Gesundheitsforschung</th>
              <td class="bg-danger">Nein</td>
              <td>Weder ja noch nein</td>
              <td>Weder ja noch nein</td>
              <td>Weder ja noch nein</td>
              <td>Weder ja noch nein</td>
            </tr>
            <tr>
              <th scope="row">bergpartei, die überpartei</th>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
            </tr>
            <tr>
              <th scope="row">Liberale Demokraten – die Sozialliberalen</th>
              <td class="bg-warning">Eher nein</td>
              <td>Weder ja noch nein</td>
              <td class="bg-success">Ja</td>
              <td class="bg-success">Ja</td>
              <td class="bg-info">Eher ja</td>
            </tr>
            <tr>
              <th scope="row">Aktion Partei für Tierschutz</th>
              <td class="bg-danger">Nein</td>
              <td class="bg-danger">Nein</td>
              <td class="bg-success">Ja</td>
              <td class="bg-danger">Nein</td>
              <td class="bg-danger">Nein</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <p>Die ausführlichen Antworten zu Frage 6 können hier heruntergeladen werden.</p>
      <a href="/download/SelbstbestimmteBildung_Wahlprüfsteine_2021.pdf" download><button class="btn btn-secondary mt-2 mb-3">Antworten als pdf</button></a>
    </div>
  </div>
</div>
