{{#section "head"}}
<title>Galerie - Die Lernwerkstatt</title>
{{/section}}
{{> main/title title="Galerie"}}
<div class="container">
  <div id="pixlee_container"></div>
  <script type="text/javascript">
    window.PixleeAsyncInit = function () {
      Pixlee.init({apiKey: "{{apiKey}}"});
      Pixlee.addSimpleWidget({widgetId: "{{widgetID}}"});
    };
  </script>
  <script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
</div>

