{{#section "head"}}
<title>{{{__ "common_title"}}}</title>
{{/section}}

<div class="home-bg">
  <div class="jumbotron-fluid">
    <div class="container py-2">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="home-logo">
            <img class="home-logo-img" loading="lazy" alt="{{{__ "common_title"}}}" src="/img/home/fulllogo.png" />
          </h1>
          <p class="lead home-subtitle">
            {{{__ "common_subtitle"}}}
          </p>
        </div>
        {{#if calendar.length}}
        <div class="col-sm-4">
          <div class="card bg-primary overflow-hidden">
            <p class="h5 card-header text-center">
              {{{__ "common_calendar"}}}
            </p>
            <ul class="list-group list-group-flush overflow-auto calendar-list">
              {{#each calendar}}
              {{> home/event this}}
              {{> home/modal this}}
              {{/each}}
            </ul>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-2 mb-3">
      <div class="col-sm-12">
        <div class="card-deck text-center">
          {{> home/card ourValues}}
          {{> home/card podcast}}
          {{> home/card blog}}
        </div>
      </div>
    </div>
  </div>
</div>
