<div class="container mt-2">
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron px-1 py-2 mb-0 h-100 text-center">
        <h1 class="h3">Die Lernwerkstatt-Berlin/Treptow</h1>
        <p>
          Die Lernwerkstatt ist ein altersübergreifender Lernort für Lernende
          in, außerhalb oder neben der Schule.
        </p>
        <img src="img/logo.png" class="img-fluid rounded-circle" alt="Die Lernwerkstatt Logo" />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-primary text-white overflow-hidden">
        <p class="card-header text-center">
          Kalender
        </p>
        <ul class="list-group list-group-flush overflow-auto calendar-list">
          {{#each calendar}}
          {{> home/event this}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-sm-12">
      <div class="card-deck text-center">
        {{#each card}}
        {{> home/card this}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
