{{> main/title title="Lernen = sich bilden"}}
<div class="container">
  <div class="row">
    <div class="col-sm-5 mb-3">
      <img src="img/learn/collaborative.png" alt="Gemeinschaftlich">
      <h3>Gemeinschaftlich</h3>
      <p>bedeutet, dass du mit deinem Lernprozess aus dem stillen Kämmerlein hinaus zu einer Gruppe von Menschen
        findest, die ähnliche Themen beschäftigen (auch, aber nicht nur schulischer Art). Zufriedene Autodidakten
        brauchen auch hin und wieder den Austausch mit anderen, um ihre Fähigkeiten weiterzuentwickeln oder Wissen zu
        reflektieren.</p>
    </div>
    <div class="col-sm-5 mb-3">
      <img src="img/learn/creative.png" alt="Kreativ">
      <h3>Kreativ</h3>
      <p>arbeiten wir, weil es dann allen mehr Spaß macht. Wir setzen Lernmethoden ein, die visuelles Denken fördern,
        einen persönlichen Lernstil entwickeln helfen, Lernen sichtbar machen, kreativen Ausdruck ermöglichen.
        <br>
        Kreativ Mathematik lernen heißt zum Beispiel auch, Mathematik im Leben und das Leben durch die „Mathe-Brille“
        zu betrachten. Inhaltlich spiegelt sich das auch in den Themen unserer Workshops wieder (Mathe x Kunst,
        Visuelle Notizen, Singen für Nichtsänger*innen, Programmieren und vieles mehr).</p>
    </div>
    <div class="col-sm-5 mb-3">
      <img src="img/learn/selfdetermined.png" alt="Selbstbestimmt">
      <h3>Selbstbestimmt</h3>
      <p>bedeutet, dass du lernst, was du willst und wie du willst. Lernen findet überall und immer dann statt, wenn
        Motivation vorhanden ist. Die Motivation kann einen externen Anlass haben – die Vorbereitung auf eine Prüfung –
        oder intrinsisch sein („Ich wollte schon immer mal über Platon diskutieren/eine Website selber machen/englische
        Musik verstehen“), aber in jedem Fall bestimmst du darüber, welche Fähigkeiten du dir aneignen möchtest, welche
        Informationen du einholen willst und auf welchen Wegen. Lernbegleiter sind Menschen, die dir helfen, deinen
        Zugang zum Lernen zu finden.</p>
    </div>
    <div class="col-sm-5 mt-5 mb-1">
      <p>Hier geht es zu unseren <a href="/projects">Projekten</a>.</p>
    </div>
  </div>
</div>
