{{#section "head"}}
<title>{{{__ "openki_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

<div class="embed-responsive embed-responsive-4by3 h-100">
  <iframe class="embed-responsive-item" src="https://openki.net/"></iframe>
</div>
