{{#section "head"}}
<title>Partner - Die Lernwerkstatt</title>
{{/section}}
{{> main/title title="Partner"}}
<div class="container">
  <div class="d-flex flex-wrap">
    <h2 class="mb-4">Wir bedanken uns herzlich bei unseren Förderpartnern: </h2>
    <div class="row" id="partner-logos">
      {{#each partners}}
      {{> partners/partner this}}
      {{/each}}
    </div>
  </div>
</div>
