{{> main/title title="Unsere Partner"}}
<div class="container">
  <div class="d-flex flex-wrap justify-content-center">
    <h3>Wir bedanken uns herzlich bei unseren bisherigen Förderpartnern: </h3>
    <ul style="list-style-type:none;">
      {{#each partners}}
      <li>{{name}}</li>
      {{/each}}
    </ul>
    <div class="col" id="team">
      {{#each partners}}
      {{> partners/partner this}}
      {{/each}}
    </div>
  </div>
</div>
