{{#section "head"}}
<title>{{{__ "partners_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

{{#section "title"}}
<div class="container my-4">
  <div class="row">
    <div class="col border-bottom">
      <h1 class="h1">{{{__ "partners_title"}}}</h1>
    </div>
  </div>
</div>
{{/section}}

<div class="container">
  <div class="d-flex flex-wrap">
    <h2 class="mb-4">{{{__ "partners_subtitle"}}}</h2>
    <div class="row" id="partner-logos">
      {{#each partners}}
      {{> partners/partner this}}
      {{/each}}
    </div>
  </div>
</div>
