{{> main/title title="Partner" subtitle="Wir sind Die Lernwerkstatt"}}
<div class="container">
  <div class="d-flex flex-wrap justify-content-center">
    <p>
    Wir bedanken uns herzlich bei unseren bisherigen Förderpartnern: Stiftung Pfefferwerk; Quartiermeister; Stiftung Deutsche Klassenlotterie Berlin; Der Paritätische Berlin; Senatsverwaltung für Gesundheit und Soziales; Senatsverwaltung für Integration, Arbeit und Soziales; Berliner Projektfonds Kulturelle Bildung; Bundesvereinigung Kulturelle Kinder- und Jugendbildung e.V.; Bundesministerium für Bildung und Forschung.
    </p>

    <div class="col" id="partners">
      {{#each partner}}
      <div>foobarrr</div>
      {{/each}}
    </div>

  </div>
</div>
