{{#section "head"}}
<title>{{{__ "policy_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

{{#each agreements}}
<div class="container card mt-3 mb-5">
  <div class="card-body">
    <h3 class="card-title">{{title}}</h3>
    <p class="card-text">{{{text}}}</p>
  </div>
</div>
{{/each}}
