{{> main/title title="Abonnieren"}}
<div class="container">
  <div class="row pb-4">
    <div class="col-md-8">
      <h2>Auf dem Laufenden bleiben</h2>
      <p>Trag dich in unseren Newsletter ein! Wir verschicken ihn 1-2 Mal im Monat. Und hier kannst du alle Newsletter
        bis
        Mai 2018 nachlesen: <a target="_blank"
          href="http://us10.campaign-archive1.com/home/?u=63598878eb7adee616350bca7&amp;id=9457fbbf4c">Lernwerkstatt-Archiv</a>
      </p>
    </div>
    <div class="col-md-4">
      {{> subscribe/mailchimp }}
    </div>
  </div>
</div>
