{{#section "head"}}
<title>Mitmachen - Die Lernwerkstatt</title>
{{/section}}
{{> main/title title="Mitmachen"}}
<div class="container">
  <div class="col-sm-8 ml-n3 mb-5">
    <h2>Du möchtest uns unterstützen?</h2>
    <p>Die Lernwerkstatt ist ein eingetragener gemeinnütziger Verein. <a
        href="https://uploads.strikinglycdn.com/files/ed70dc3f-65fb-4f86-812e-2c124c3bfa7d/Satzung_final 2017.pdf">Hier</a>
      findest du unsere <strong>Satzung</strong>. Die Ziele und Zwecke des Vereins sind darin zu finden. Das
      Projekt
      lebt davon, dass du dich beteiligst. Wenn du uns finanziell unterstützen möchtest und uns dabei helfen,
      das
      Projekt langfristig abzusichern, werde Vereinsmitglied! Andere Möglichkeiten der Unterstützung findest
      du
      weiter unten.</p>
    <br>
    <p>Für die Deckung unserer <strong>Kosten</strong> (für den Raum, die Materialien, die
      Lernbegleiter, Energie und Versicherung) suchen wir Unterstützung in Form von monatlichen
      Mitgliedsbeiträgen -
      ab 5 Euro frei wählbar.<br><br>Mitglied werden in 3
      Schritten:</p>
    <br>
    <p>1. <a
        href="https://uploads.strikinglycdn.com/files/572aa3bd-f9c9-48f1-a06c-71851c194508/Antrag auf Mitgliedschaft.pdf">Hier</a>
      findest du unseren <strong>Mitgliedsantrag als PDF</strong>. Einfach herunterladen.</p>
    <br>
    <p>2. Den Antrag ausfüllen (am Computer oder ausgedruckt per Hand).</p>
    <br>
    <p>3. Schick uns den Antrag per Post (Karl-Kunger Str. 55, 12435 Berlin), eingescannt per
      Mail oder besser noch, wirf ihn in unseren Briefkasten und schau gleich mal bei uns rein.</p>
    <br>
    <p>Wir sind ein gemeinnütziger Verein, daher sind alle Spenden und Mitgliedsbeiträge
      <strong>steuerlich absetzbar</strong>! Bis zu 200 Euro reicht ein vereinfachter Nachweis. Ab 200 Euro
      senden
      wir dir gerne eine Zuwendungsbestätigung zu!</p>
    <br>
    <p>Möchtest du uns lieber <strong>einmalig Geld schenken</strong>? Hier ist unser
      Vereinskonto:</p>
    <p><strong>Die Lernwerkstatt - lernen &amp; lernen lassen e.V.</strong></p>
    <p><strong>IBAN: DE69 4306 0967 1175 1344 00</strong></p>
    <p><strong>BIC: GENODEM1GLS</strong></p>
  </div>
</div>
