{{#section "head"}}
<title>Team - Die Lernwerkstatt</title>
{{/section}}
{{> main/title title="Wir sind Die Lernwerkstatt"}}
<div class="container pb-4 mb-4">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="col text-center" id="team">
      {{#each team}}
      {{> team/member this}}
      {{/each}}
    </div>
  </div>
</div>
