{{> main/title title="Unsere Werte"}}
<div class="container">
  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <img style="display:block;margin:0 auto" src="img/values/selfdetermined.png" alt="Selbstbestimmt" />
        <h3 class="card-title">Selbstbestimmt</h3>
        <p>Selbstbestimmtes Lernen ist uns ein Herzensanliegen. Du bestimmst, was, wann, wo und mit wem du (aktiv)
          lernst. Es liegt in deiner Hand, wohin dein Lernprozess dich führt, welche Ziele du dir setzt, welchen Themen
          und Interessen du folgst und mit welchen Methoden du das tust. Wir sind lediglich Begleiter*innen in diesem
          Prozess und stehen dir mit Rat und Tat zur Seite.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img style="display:block;margin:0 auto" src="img/values/collaborative.png" alt="Gemeinschaftlich" />
        <h3 class="card-title">Gemeinschaftlich</h3>
        <p class="card-text">Die Lernwerkstatt ist eine wachsende Gemeinschaft von Lernenden – jungen Menschen, die sich
          in oder außerhalb der Schule bilden und Erwachsenen, die sich zu ihren Interessen austauschen, (weiter-)bilden
          und Neues entdecken. Lernen wird zu einem ko-konstruktiven Prozess, wenn Menschen ihre jeweils eigene
          Sichtweise, ihre Erfahrungen und Fähigkeiten auf allen Ebenen der Lernwerkstatt einbringen können.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img style="display:block;margin:0 auto" src="img/values/creative.png" alt="Kreativ" />
        <h3 class="card-title">Kreativ</h3>
        <p>Kreativ sind bei uns die Methoden, die Mittel und die Denkprozesse. Lernende und Lernbegleiter*innen haben in
          der Lernwerkstatt Raum, schöpferisch Lernprozesse zu gestalten. Vielfalt braucht Freiheit und
          Erfindungsreichtum – beides findest du in der Lernwerkstatt vor.</p>
      </div>
    </div>
  </div>
</div>
