{{> main/title title="Unsere Werte"}}
<div class="container">
  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Selbstbestimmt</h3>
        <img style="display:block;margin:0 auto" src="img/values/selfdetermined.png" alt="Selbstbestimmt" />
        <p class="card-text mb-5">Selbstbestimmtes Lernen ist uns ein Herzensanliegen. Du bestimmst, was, wann, wo und
          mit
          wem du (aktiv)
          lernst. Es liegt in deiner Hand, wohin dein Lernprozess dich führt, welche Ziele du dir setzt, welchen Themen
          und Interessen du folgst und mit welchen Methoden du das tust. Wir sind lediglich Begleiter*innen in diesem
          Prozess und stehen dir mit Rat und Tat zur Seite.</p>
        <hr>
        <h3 class="card-title mt-3" style="font-style:italic">Self-determined</h3>
        <p class="card-text" style="font-style:italic">means that you get to learn whatever it is that you want to
          learn. Learning is omnipresent,
          but it's particularly efficient when motivation is on hand. This motivation can have an external root –
          preparing for an exam – or it can be intrinsic - „I've always wanted to know how to build my own website/ how
          big the universe really is.“ No matter which skills or information you wish to acquire, you'll get an
          opportunity to do it your way.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Gemeinschaftlich</h3>
        <img style="display:block;margin:0 auto" src="img/values/collaborative.png" alt="Gemeinschaftlich" />
        <p class="card-text mb-5">Die Lernwerkstatt ist eine wachsende Gemeinschaft von Lernenden – jungen Menschen, die sich
          in oder außerhalb der Schule bilden und Erwachsenen, die sich zu ihren Interessen austauschen, (weiter-)bilden
          und Neues entdecken. Lernen wird zu einem ko-konstruktiven Prozess, wenn Menschen ihre jeweils eigene
          Sichtweise, ihre Erfahrungen und Fähigkeiten auf allen Ebenen der Lernwerkstatt einbringen können.</p>
        <hr>
        <h3 class="card-title mt-3" style="font-style:italic">Collaborative</h3>
        <p class="card-text" style="font-style:italic">means that you are able to escape your autodidactic solitude and
          get together with other people who are interested in similar topics (including but not limited to school based
          topics). Exchanging your ideas and thoughts with others helps to develop a whole range of abilities and is
          especially useful when it comes to reflecting on knowledge.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Kreativ</h3>
        <img style="display:block;margin:0 auto" src="img/values/creative.png" alt="Kreativ" />
        <p class="card-text mb-5">Kreativ sind bei uns die Methoden, die Mittel und die Denkprozesse. Lernende und
          Lernbegleiter*innen haben in
          der Lernwerkstatt Raum, schöpferisch Lernprozesse zu gestalten. Vielfalt braucht Freiheit und
          Erfindungsreichtum – beides findest du in der Lernwerkstatt vor.</p>
        <hr>
        <h3 class="card-title mt-3" style="font-style:italic">Creative</h3>
        <p class="card-text" style="font-style:italic">working conditions are essential to us, because then everyone
          simply has more fun. Our learning methods foster visual thinking and promote the development of a personal
          learning style. Under these conditions learning becomes visible and individual creative expression is made
          possible. Practical learning tools will be an integral part of every class and will be explored in more depth
          during workshops.</p>
      </div>
    </div>
  </div>
</div>
