<li class="list-group-item">
  <div class="media">
    <img class="align-self-center mr-2" src="{{ dayicon }}" />
    <div class="media-body">
      <a class="h6" href="#" data-toggle="modal" data-target="#{{ tag }}">
        {{ name }}
      </a>
      <p class="h6 text-muted mb-0">{{ date }} Uhr</p>
    </div>
  </div>
</li>
