<li class="list-group-item">
  <a href="#" data-toggle="modal" data-target="#{{ id }}">
    <p class="lead mb-0">
      <img src="{{ dayicon }}" />
      {{ name }}
    </p>
    <small class="text-muted">{{ date }}</small>
  </a>
</li>
