<div class="card">
  <div class="card-body">
    <a rel="noopener" href="{{link}}" target="_blank">
      <h5 class="card-title">{{name}}</h5>
    </a>
    <p class="card-text">{{{text}}}</p>
  </div>
</div>
