<div class="card">
  <div class="card-body">
    <a rel="noopener" href="{{link}}" target="_blank">
      <h3 class="card-title">{{name}}</h3>
    </a>
    <p class="card-text">{{{text}}}</p>
  </div>
</div>
