<footer class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav flex-column flex-sm-row">
          <li class="nav-item">
            <a href="/support" class="nav-link text-light">Mitmachen</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link text-light">Kontakt</a>
          </li>
          <li class="nav-item">
            <a href="/subscribe" class="nav-link text-light">Abonnieren</a>
          </li>
          <li class="nav-item">
            <a href="/partners" class="nav-link text-light">Partner</a>
          </li>
          <li class="nav-item">
            <a href="/friends" class="nav-link text-light">Freunde</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="https://www.facebook.com/dielernwerkstatt/" class="nav-link text-light">
              <span class="fab fa-facebook"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/die_lernwerkstatt" class="nav-link text-light">
              <span class="fab fa-instagram"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="mailto:info@die-lernwerkstatt.org" class="nav-link text-light">
              <span class="far fa-envelope"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
