<footer class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav flex-column flex-sm-row">
          <li class="nav-item">
            <a href="/support" aria-label="Mach mit" class="nav-link text-light">Mitmachen</a>
          </li>
          <li class="nav-item">
            <a href="/contact" aria-label="Kontaktiere uns" class="nav-link text-light">Kontakt</a>
          </li>
          <li class="nav-item">
            <a href="/subscribe" aria-label="Abonniere unseren Newsletter" class="nav-link text-light">Abonnieren</a>
          </li>
          <li class="nav-item">
            <a href="/partners" aria-label="Unsere Partner" class="nav-link text-light">Partner</a>
          </li>
          <li class="nav-item">
            <a href="/friends" aria-label="Unsere Freunde" class="nav-link text-light">Freunde</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="https://www.facebook.com/dielernwerkstatt/" aria-label="Unsere Facebook Seite"
              class="nav-link text-light">
              <span class="fab fa-facebook"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/die_lernwerkstatt" aria-label="Unser Instagram Feed"
              class="nav-link text-light">
              <span class="fab fa-instagram"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="mailto:info@die-lernwerkstatt.org" aria-label="Schreib uns eine Email"
              class="nav-link text-light">
              <span class="far fa-envelope"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
