<div class="container mb-2">
  <div class="row">
    <div class="col-12">
      <p class="h1 font-italic my-4">{{title}}</p>
      <p class="lead">{{subtitle}}</p>
      <hr>
    </div>
  </div>
</div>
