<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Die Lernwerkstatt</title>
  <meta name="description"
    content="Mit der Lernwerkstatt schaffen wir einen Raum, in dem Lernen gemeinschaftlich, kreativ und selbstbestimmt statt findet.">
  <meta property="og:title" content="Die Lernwerkstatt">
  <meta property="og:description"
    content="Mit der Lernwerkstatt schaffen wir einen Raum, in dem Lernen gemeinschaftlich, kreativ und selbstbestimmt statt findet.">
  <meta property="og:image" content="/img/social.jpg">
  <meta property="og:locale" content="de_DE">
  <meta property="og:url" content="https://die-lernwerkstatt.org">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="2233419873654139">

  <link rel="dns-prefetch" href="https://use.fontawesome.com">
  <link rel="dns-prefetch" href="https://code.jquery.com">
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">
  <link rel="dns-prefetch" href="https://s3.amazonaws.com">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{> main/header}}

  <main>
    {{{body}}}
  </main>

  {{> main/footer}}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    if (window.console) {
      console.log(
        `%c#######################################################
                Awesome console message
#######################################################`,
        'background: #222; color: #bada55',
      );
    }
  </script>
</body>

</html>
