<!DOCTYPE html>
<html lang="de">

<head>
  {{{_sections.head}}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Mit der Lernwerkstatt schaffen wir einen Raum, in dem Lernen gemeinschaftlich, kreativ und selbstbestimmt statt findet.">
  <meta property="og:title" content="Die Lernwerkstatt">
  <meta property="og:description"
    content="Mit der Lernwerkstatt schaffen wir einen Raum, in dem Lernen gemeinschaftlich, kreativ und selbstbestimmt statt findet.">
  <meta property="og:image" content="/img/social.jpg">
  <meta property="og:locale" content="de_DE">
  <meta property="og:url" content="https://die-lernwerkstatt.org">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="2233419873654139">

  <link rel="dns-prefetch" href="https://s3.amazonaws.com">
  <link rel="dns-prefetch" href="https://unpkg.com">
  <link rel="preconnect" href="https://unpkg.com" crossorigin>

  <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.13.0/css/all.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151355772-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-151355772-1');
  </script>
</head>

<body>
  {{> main/header}}

  <main>
    {{{_sections.title}}}
    {{{body}}}
  </main>

  {{> main/footer}}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</body>

</html>
