<!DOCTYPE html>
<html lang="de">

<head>
  {{{_sections.head}}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Mit der Lernwerkstatt schaffen wir einen Raum, in dem Lernen gemeinschaftlich, kreativ und selbstbestimmt statt findet.">
  <meta property="og:title" content="Die Lernwerkstatt">
  <meta property="og:description"
    content="Mit der Lernwerkstatt schaffen wir einen Raum, in dem Lernen gemeinschaftlich, kreativ und selbstbestimmt statt findet.">
  <meta property="og:image" content="/img/social.jpg">
  <meta property="og:locale" content="de_DE">
  <meta property="og:url" content="https://die-lernwerkstatt.org">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="2233419873654139">

  <link rel="dns-prefetch" href="https://use.fontawesome.com">
  <link rel="dns-prefetch" href="https://code.jquery.com">
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">
  <link rel="dns-prefetch" href="https://s3.amazonaws.com">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{> main/header}}

  <main>
    {{{_sections.title}}}
    {{{body}}}
  </main>

  {{> main/footer}}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://unpkg.com/jquery@^3/dist/jquery.js"></script>
  <script src="https://unpkg.com/popper.js@^1/dist/popper.min.js"></script>
  <script src="https://unpkg.com/bootstrap@^4/dist/js/bootstrap.min.js"></script>
  <script>
    if (window.console) {
      console.log(
        `%c#######################################################
                Awesome console message
#######################################################`,
        'background: #222; color: #bada55',
      );
    }
  </script>
</body>

</html>
